
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
}

audio {
    position: relative;
    left: 800px;
    z-index: -800;
}
a {
    position: relative;
    left: 15px;
    top: 65px;
    z-index: 1;
    font-family: collwell;
    font-style: normal;
}

h1 {
    background-color: white;
    text-align: center;
    background-size: 50px 20px;
    opacity: .4;
    font-family: collwell;
    font-style: normal;
    font-size: 40px;
    background-size: auto;
}

    h2 {
    text-align: center;
    font-family: collwell;
    font-style: normal;
    font-size: 40px;
    background-size: auto;
    position: relative;
    top: 100px;
    color: white;
    animation: fadeIn 8s;
    }
    
    h3 {
    text-align: center;
    font-family: collwell;
    font-style: normal;
    color: white;
    font-size: 40px;
    background-size: auto;
    position: relative;
    top: 110px;
    animation: fadeIn 15s;
    }
    
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        
        to{
            opacity: 1;
        }
    }
        
        